---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <h5 class="post-description">{{ page.description }}</h5>
  </header>

  <h4 class="post-description">Current projects</h4>
  <article class="post-content {{page.title}} clearfix">
    {{ content }}
  </article>

  {% if page.old_projects %}
  <h4 class="post-description">Previous projects</h4>
  <article class="post-content {{page.title}} clearfix">
    {% for project in site.projects %}
    {%if project.old %}
      {% if project.redirect %}
      <div class="project">
          <div class="thumbnail">
              <a href="{{ project.redirect }}" target="_blank">
              {% if project.img %}
              <img class="thumbnail" src="{{ project.img | prepend: site.baseurl | prepend: site.url }}"/>
              {% else %}
              <div class="thumbnail blankbox"></div>
              {% endif %}
              <span>
                  <h1>{{ project.title }}</h1>
                  <br/>
                  <p>{{ project.description }}</p>
              </span>
              </a>
          </div>
      </div>
      {% else %}

      <div class="project ">
          <div class="thumbnail">
              <a href="{{ project.url | prepend: site.baseurl | prepend: site.url }}">
              {% if project.img %}
              <img class="thumbnail" src="{{ project.img | prepend: site.baseurl | prepend: site.url }}"/>
              {% else %}
              <div class="thumbnail blankbox"></div>
              {% endif %}
              <span>
                  <h1>{{ project.title }}</h1>
                  <br/>
                  <p>{{ project.description }}</p>
              </span>
              </a>
          </div>
      </div>
      {% endif %}
    {% endif %}
    {% endfor %}
  </article>
  {% endif %}

  {% if page.news %}
    {% include news.html %}
  {% endif %}

  {% if page.social %}
    {% include social.html %}
  {% endif %}

</div>
